
DEVELOP_HOST=           # Địa chỉ host của database develop
DEVELOP_PORT=           # Cổng database (mặc định là 5432)
DEVELOP_USER=           # Tên user của database develop
DEVELOP_PASSWORD=       # Mật khẩu của user develop


DOCKER_CONTAINER=         # Tên hoặc ID container Docker chạy PostgreSQL
LOCAL_USER=               # Tên user trong Docker PostgreSQL
LOCAL_PASSWORD=           # Mật khẩu user trong Docker PostgreSQL